.info-product{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    background-image: url("../img/WEB\ 2020\ GOPASS-25.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}

.info{

   width: 100%;
   text-align: start;
   margin: 2%;
}

.info-title{
    margin-top: 25%;
    font-size: 45px;
}

.info-description{
    font-size: 24px;
}

.info-img{
    justify-content: center;
    text-align: right;
    padding-left: 15%;
}

.info-img img{
    width: 100%;
    margin-top: 25%;

}