.main-section {
    min-height: 100vh;
    background-image: url("../img/FondoMain.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 48px;


    /* padding-top: 45vh; */

}

.overlay{
    position: absolute;
}


 .overlay{
    z-index: 1;
    position: absolute;
    top: 0%;
    bottom: 0;
    left: 0;
    right: 0;

    
    /* backgroun
    d-image: url("../img/fondo-Home.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20%;
    color: white; */
}

