.main-section {
    width: 100%;
    min-height: 100vh;
    background-image: url("../img/FondoMain.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* position: absolute; */
    margin: 0;
    /* padding-top: 45vh; */

}

.main-section p{
    position: absolute;
    top: 5em;
    padding: 1em;
    margin: 0;
    width: 80%;
    font-size: 55px;
    color: white;
    font-weight: bold;
    background-image: url("../img/fondo-Home.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30%;
}

