html {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-size: 13px;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

li {
    margin: 0 auto;
    list-style: none;
    padding: 0;
}

/* ----------- Inicio Diseño del Nav */
header {
    margin: 0;
    width: 100%;

    display: flex;
    z-index: 10000;
    position: absolute;
    justify-content: space-between;
}

.header-logo {
    padding: 2%;
}

.header-logo img {
    width: 50%;
}

nav {
    display: flex;
    padding: 2%;
}

.nav-redes {
    display: flex;
    margin-top: 22px;
    margin-right: 80px;
    padding-right: 1%;
}

.nav-redes li {
    margin-left: 35%;
}

.nav-menu {
    width: 180px;
    text-align: right;
    padding-right: 5%;
    font-size: 24px;
}

.nav-menu li {
    margin: 0;
    padding: 0;
    margin-bottom: 2%;
}

.nav-menu li a img {
    margin: 10px;
    width: 80%;
}

#home{
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

#overlay{
 
}

/* ---------- Fin diseño del Nav para Web */